.notification-container {
  margin: 0 auto;
  text-align: left;
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  border-color: #BDBDBD;
  border-style: solid;
}

.all-notification-container {
  background-color: transparent;
  margin-bottom: calc(5px + 1vmin);
}

.notification-text {
  font-family: Aileron-Light;
  font-size: calc(10px + 1vmin);
}